agm-map {
  height: 100vh;
  width: 100%; }

.emi-coberturacolor {
  background-color: #129ee0;
  width: 12px;
  height: 12px;
  display: inline-block; }

.emi-sincoberturacolor {
  background-color: #6290a4;
  width: 12px;
  height: 12px;
  display: inline-block; }

.emi-mapa-coberturasin p {
  display: inline-block;
  margin: 10px; }

